* {
	box-sizing: border-box;
}
body {
	background: #000;
	color: #fff;
	 font-family: 'Ubuntu', sans-serif;
}
header {
    background: #fff;
    color: #000;
}
#logo{
	width: 80px;
	height: 60px;
	line-height: 60px;
	background: url(../../img/40.jpg) no-repeat center;
}
#navbar div {
	height: 60px;
	line-height: 50px;
}
header nav a {
	color: #000;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: crimson!important;
    font-weight: bold;
    background-color: #ff5722 !important;
}
header nav ul li a:hover {
	color: crimson;
}
/*Hero area*/
#hero {
	width: 100%;
	height: 635px;
	background: url(../../img/carsr.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

#pro {
	width: 100%;
	height: 630px;
	background: transparent;
}
.oilAc {
	height: 7px;
	
}
#about {
	width: 100%;
	height: 400px;
	background: url(../../img/mr.jpg) no-repeat center;
	background-size: cover;

}
#foot {
	background: #1a1b1d;
}
#foot div div p {
	margin: 0;

}
#foot h5 {
	color: orange;
	font-weight: bold;
	margin-bottom: 15px;
}
.fot {
	height: 50px;
	line-height: 50px;

}
